table,
th,
td {
    border: 1px solid black;
    padding: 6px;
    border-collapse: collapse;

}
th {
    color: red;
    background-color: blanchedalmond;
}
td {
    background-color: skyblue;
}

#game{
    grid-column: 1 / -1;
}
#foot{
    height: 30px;
    width: 100px;

}