.blue{
    color: white;
    background-color:rgb(86, 188, 249) ;
}
#pink{
        color: white;
        background-color: pink;
}
.orange{
    color: white;
    background-color: rgb(242, 169, 59);
}
