body {
    /* height: 100vh;
    width: 100vw; */
    display: grid;
    grid-template-rows:repeat(4,auto) ;
}

.logo {
    font-family:Arial, Helvetica, sans-serif ;
    margin-left: 100px ;
}

.article1 {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: rgb(109, 155, 210);
    padding: 10px;
    position: relative;
    color: white;

}
.article-img {
    margin-left: 200px;
}
.article1 div {
    padding: 0px 20px;
    
    position:absolute ;
    display: inline;
    margin: 10px;
    text-align: center;
}
.article1-button {
    width: 200px;
    color:rgb(109, 155, 210) ;
}

.article2 {
    text-align: center;
    padding: 20px;
}

.article2-button {
     width: 200px; 
    color: rgb(109, 155, 210);
}

footer {
    background-color: rgb(109, 155, 210);
    display: flex;
    justify-content: space-evenly;
        color: white;
    /* padding: 0px ; */

}

footer img {
    height: 40px;
    width: 40px;
    padding-left: 30px;
    padding-top: 20px;
}