body {
    display: flex;
    width: 900px;
    border: 2px solid orange;
    
}

div {
    width: 300px;
    text-align: center;
}
.a {
    background-color: darkseagreen;
    flex-grow: 3;
}
.b {
    background-color: skyblue;
}