body {
    border: 5px solid orange;
    display: flex;
    height: 900px;
}
div {
    color:white;
    padding: 5px;

}
.a1 {
    align-self: flex-start;
    margin: 10px 0px;
}
.a2 , .a3 ,.a6 ,.a7,.a8,.a9 {
    align-self: flex-start;
}

.a5 {
    align-self: center;
}
.a10 {
    align-self: flex-end;
}